<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8"
    <section class="main-header">
      <p class="flash"><%= notice %><%= alert %></p>
    </section>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

<body>
  <header class ="header">
  <div class="mainbody container-fluid">
    <div class="row">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                              <font color="white">
                               <li><h4><strong>PANDABOOK</strong></h4></li>
                               </font>
                                <!-- <li><%= link_to "TOPIC", topics_path %></li> -->
                                <!-- <li><%= link_to "メッセージ", conversations_path %></li> -->
                                <li><%= link_to 'ユーザー一覧', users_path if user_signed_in? %></li>
                                <% if user_signed_in? %>
                                <li><%= link_to 'マイページ', edit_user_registration_path %></li>
                                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                                <% else %>
                                <li><%= link_to 'ログイン', new_user_session_path %></li>
                                <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="wrapper">
      <main class="sidemenu">
        <!-- <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel-body"> -->
                          <%= link_to "トピックを作成する", new_topic_path, class: 'btn btn-default' %>
            <!-- </div>
        </div> -->

        <hr>
            <!-- Simple post content example. -->


            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- <div class="pull-left"> -->
                      <div style="padding-top:50px;"> </div>
                      <div style="padding-left:auto;"> </div>
                      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <div class="media">
                                      <div class="media-body">
                                        <h3><strong>Welcome</strong></h3>
                                          <h3><strong>
                                            <div class="user-name">
                                                <%= profile_img(current_user) %>
                                                <h4><<%= link_to "メッセージ", conversations_path %> ><strong><p><%= current_user.name %></p></strong></a></h4>

                                            </div>
                                          </strong></h3>

                                          <hr>
                                          <h3><strong>User List</strong></h3>
                                          <table>
                                               <% @users.each do |user| %>
                                                <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
                                                  <tr>
                                                  <td>
                                                  <%= profile_img(user) %>
                                                  </td>
                                                  <td>
                                                  <%= user.name %>
                                                  </td>

                                                </tr>
                                                </div>
                                                <% end %>
                                            </table>

                                                </div>
                                          </div>

                                          <hr>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
          <div>
                    <hr>
            <!-- Reshare Example -->
      <div class="main">
            <!-- <div class="panel-body"> -->
                <div>
                    <h1 class="panel-title pull-right" style="font-size:30px;">  </h1>
                      <%= link_to "トピックを作成する", new_topic_path, class: 'btn btn-default' %>
                      <hr>
                  </div>
            <!-- </div> -->
            <hr>

              <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="pull-left">
                        <a href="#">
                            <% @topics.each do |topic| %>
                            <img class="media-object img-circle"   <%= profile_img(topic.user) %>
                        </a>

                    <h4><a href="#" style="text-decoration:none;"><strong><p> <%= topic.user.name %></p></strong></a></h4>
                    <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i><%= topic.updated_at %></i></a></small></small></h4>

                    <p><%= image_tag topic.image, class: "img-responsive" %></p>

                    <%= link_to topic_path(topic) do %>
                    <h4><strong><%= topic.title %></strong></h4>
                    <% end %>

                    <p><%= topic.content %></p>

                        <div class="navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: center;">
                                    <li><%= link_to "編集する", edit_topic_path(topic.id) %>
                                    <li role="separator" class="divider"></li>
                                    <li> <%= link_to "削除する", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
                                </ul>
                                <hr>
                            </div>
                        </div>
                    <hr>
                <% end %>
                <hr>
              </div>

<!--
                    <div class="post-content">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="https://diaspote.org/uploads/images/thumb_large_283df6397c4db3fe0344.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                                    </a>
                                </div>
                                <h4><a href="#" style="text-decoration:none;"><strong>✪ SтeғOғғιcιel ✪ ツ</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> about 15 hours ago</i></a></small></small></h4>
                                <hr>
                                <div class="post-content">
                                    Reshare post example.
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <hr>
                    <!-- <div>
                        <div class="pull-right btn-group-xs">
                            <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                            <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                            <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                        </div>
                        <div class="pull-left">
                            <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                        </div>
                        <br>
                    </div> -->
                    <!-- <hr>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- Sample post content with picture. -->
      </main>
    </div>
  </body>
</html>
