<!-- <!DOCTYPE html> -->
<html lang="ja">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <%= javascript_include_tag "application" %>
  </head>

<body>
  <p class="flash"><%= notice %></p>

    <div class="wrapper">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <hr>
            <div class="panel panel-default">
                <div class="panel-body">
                      <div style="padding-top:50px;">
                        <div style="padding-left:auto;">
                          <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                                  <div class="media">
                                       <div class="media-body">
                                         <h3><strong>Welcome</strong></h3>
                                           <h3><strong>
                                            <div class="user-name">
                                          <%= profile_img(current_user) %>
 </div>
                                         </strong>
                                         <div class="pull-right">
                                             <h1 class="panel-title pull-right" style="font-size:30px;">  </h1>
                                              <%= link_to "トピックを投稿する", new_topic_path, class: 'btn btn-default' %>
                                        </div>
                                    </div>
                                 </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>


    <div class="main">


          　</div>


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                      <a href="#">
                          <% @topics.each do |topic| %>
                          <img class="media-object img-circle">   <%= profile_img(topic.user) %>
                      </a>
                  <h4><%= link_to conversations_path do %>
                  <style="text-decoration:none;"><strong><p> <%= topic.user.name %></p></strong></a></h4>
                  <small><small> <% end %>
                  <style="text-decoration:none; color:grey;">
                  <i><i class="fa fa-clock-o" aria-hidden="true"></i><%= topic.updated_at %></i></a></small></small></h4>

                  <p><%= image_tag topic.image, class: "img-responsive" %></p>
                  <%= link_to topic_path(topic) do %>
                  <h4><strong><%= topic.title %></strong></h4>
                  <% end %>

                  <p><%= topic.content %></p>
                  <% if topic.user == current_user %>

                                                    <div class="button_wrapper">
                                                      <button class='btn btn-dangar btn-xs'>
                                                      <%= link_to "編集する", edit_topic_path(topic.id) %>
                                                      </button>
                                                      <button class='btn btn-dangar btn-xs'>
                                                      <%= link_to "削除する", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
                                                      </button>
                                                    </div>
                                                    <% end %>
                                                    <hr>
               <% end %>
               <hr>
             </div>
