
<%= form_for(@topic, url: confirm_topics_path) do |f| %>

   <%= f.error_messages! %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <div class="field">
  <%= f.label :作成日 %><br>
  <%= f.datetime_select :created_at, class: 'form-control'  %>
  </div>
  <br>
  <div class="field">
  <%= f.label :写真のアップロード %><br>
  <%= image_img(@topic)   %>
  </div>
  <div class="button_wrapper">
      <button class="button1">
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache, class: 'form-control'  %></button>
    </div>
  <br>
  <br>

  <%= f.submit %>

<%= link_to "一覧画面にもどる", topics_path %>

  <% end %>
