<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

    <p><%= notice %></p>

    <h1>トピック一覧</h1>

  <%= link_to "トピックを作成する", new_topic_path, class: 'btn btn-default' %>
  <% @topics.each do |topic| %>
    <div class="row">

    <%= link_to topic_path(topic) do %>
    <h4><strong><%= topic.title %></strong></h4>
  <% end %>

  <p>本文:<%= topic.content %></p>

  <p><%= image_tag topic.image, class: "img-responsive" %></p>

  <%= link_to "編集する", edit_topic_path(topic.id) %>
  <%= link_to "削除する", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
 <% end %>
<br>
<%= link_to "作成する", new_topic_path %>
