<div class="col-xs-12 col-md-3">

  <% unless current_user.id == @user.id %>
    <div class="user-btn-field">
      <%= render partial: 'follow_form', locals: { user: @user } %>
      <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' do %>
        <i class="fa fa-commenting btn btn-primary btn-block" aria-hidden="true">メッセージ</i>
      <% end %>
    </div>
  <% end %>
</div>
<div class="col-xs-9 col-md-6">
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation">
        <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">プロフィール</a>
      </li>
    </ul>
    <div class="tab-content">
  <div class="tab-pane active" id="tab_a" role="tabpanel">
    <div class="user_panel">
      <div class="panel panel-default">
        <div class="panel-heading"><%= @user.name %> さん</div>
        <li class="list-group-item"><strong class="info_name">メールアドレス</strong><br><hr><%= @user.email %></li>
      </div>
    </div>
  </div>

      <div class="container">
    <h2>フォローしている人一覧</h2>
    <table class="table">
        <thead>
          <tr>
            <th>プロファイル</th>
            <th>名前</th>
            <th>email</th>
          </tr>
        </thead>

        <tbody>

            <% @user.followed_users.each do |followed_user| %>
            <tr>
              <td><%= profile_img(followed_user) %></td>
              <td>  <%= followed_user.name %></td>
              <td>  <%= followed_user.email %></td>
            </tr>
            <% end %>
        </tbody>
      </table>

        <h2>フォローされている人一覧</h2>

      <table class="table">
        <thead>
          <tr>
            <th>プロファイル</th>
            <th>名前</th>
            <th>email</th>

          </tr>
        </thead>

        <tbody>
            <% @user.followers.each do |follower| %>
            <tr>
              <td><%= profile_img(follower) %></td>
              <td>  <%= follower.name %></td>
              <td>  <%= follower.email %></td>


            </tr>
          <% end %>
        </tbody>
      </table>







    </div>
