<div class="col-xs-12 col-md-3">
  <%= main_profile_img(@user) %>
  <% unless current_user.id == @user.id %>
    <div class="user-btn-field">
      <%= render partial: 'follow_form', locals: { user: @user } %>
      <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' do %>
        <i class="fa fa-commenting btn btn-primary btn-block" aria-hidden="true">メッセージ</i>
      <% end %>
    </div>
  <% end %>
</div>
<div class="col-xs-9 col-md-6">
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation">
        <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">プロフィール</a>
      </li>
      <li role="presentation">
        <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">投稿一覧</a>
      </li>
      <li role="presentation">
        <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">友達一覧</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_a" role="tabpanel">
        <div class="user_panel">
          <div class="panel panel-default">
            <div class="panel-heading"><%= @user.name %> さん</div>
            <li class="list-group-item"><strong class="info_name">メールアドレス</strong><br><hr><%= @user.email %></li>
          </div>
          <%= link_to 'プロフィールを編集する', edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="tab-pane" id="tab_b" role="tabpanel">
        <div class="user_topics">
          <% @topics.each do |topic| %>
              <div class="topic">
                <div class="topic_body">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li>
                        <%= link_to '編集', edit_topic_path(topic), remote: true %>
                      </li>
                      <li><%= link_to '削除', topic_path(topic), method: :delete, data: { confirm: "本当に投稿を削除してよろしいですか？", cancel: "やめる", commit: "削除する"}, title: "削除の確認" %></li>
                    </ul>
                  </div>
                  <div class="topic_content_<%= topic.id %>">
                    <%= html_escape_br(topic) %>
                  </div>
                  <br>
                  <%= image_tag topic.avatar %>
                  <div class="like_button">
                    <%= link_to root_path do %>
                        <i class="fa  fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                        <%= link_to 'いいね！' %>
                    <% end %>
                  </div>
                </div>
                <hr>
                <div class="topic_comment">
                  <div class="comments_area_<%= topic.id %>">
                    <div class="comments_content_<%= topic.id %>">
                      <%= render partial: 'comments/index', locals: { comments: topic.comments, topic: topic } %>
                    </div>
                    <div class="comment_form_<%= topic.id %>">
                      <%= render partial: 'comments/form', locals: { comment: @comment = topic.comments.build, topic: topic } %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="tab_c" role="tabpanel">
        <div class="user_panel">
          <div class="panel panel-default">
            <% @user.friend.each do |user| %>
              <li class="list-group-item">
                <strong class="info_name"><%= index_profile_img(user) %> <%= link_to user.name, user_path(user) %></strong>
              </li>
            <% end %>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="col-xs-3 col-md-3">
  <% if current_user.id == @user.id %>
    <%= render 'request_friend' %>
  <% end %>
</div>
